@import './variables.scss';

.happiness-lab {
  .top-bar {
    display: flex;

    .indicator {
      flex: 2;
    }
    .mindfulness {
      flex: 1;
      margin-left: 1rem;
      .activity-tile {
        padding: 0 0.5*$padding 0 0 !important;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
}
