<div class="row header no-margin">
  <div class="col-xs-12 col-sm-7 no-padding">
    <div class="left-box">
      <div id="avatar" ng-style="{'background-image': 'url('+avatarUrl+')'}"/>
      <div>
        <div class="welcome-label">Welcome to your</div>
        <div class="name-label">{{tabLabel}} {{name}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-5 hidden-xs no-padding">
    <div class="right-box">
      <div class="swb-score animated zoomIn">
        <div class="circle">3</div>
        <div class="swb-score-label">My SWB Score</div>
      </div>
      <div class="subscription-level animated zoomIn">
        <div class="circle">Happy</div>
        <div class="subscription-level-label">Subscription Level</div>
      </div>
      <button class="btn-logout animated zoomIn">Logout</button>
    </div>
  </Col>
</div>
