<div class="row header no-margin">
  <div class="col-xs-12 col-sm-10 no-padding">
    <div class="left-box">
      <div id="avatar" ng-style="{'background-image': 'url('+avatarUrl+')'}"/>
      <div>
        <div class="welcome-label">Welcome to your</div>
        <div class="name-label">{{tabLabel}} {{name}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 hidden-xs no-padding">
    <div class="right-box">      
      <div class="subscription-level animated zoomIn">
        <div class="circle">Happy</div>
        <div class="subscription-level-label">Subscription Level</div>
      </div>
      <button class="btn-logout animated zoomIn">Log out</button>
    </div>
  </Col>
</div>
