@import '../variables.scss';

.assessment-modal {
  padding: $padding;

  .title {
    color: $dark-blue;
    font-size: 2.5rem;
  }
  .direction {
    margin-top: 10px;
    font-size: 1rem;
    color: $dark-blue;
    @include normal-font;
  }
  .divider {
    margin: 15px 0;
  }
  .question-indicator {
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .hexagon-label {
      font-size: 35px;        // important: overwrites .hexagon-label in hexagon.css
      margin-left: -8px;
      margin-bottom: 2px;      // overwrites bootstrap form

      &:nth-child(3n+1) {
        margin-top: 18px;
      }
      &:nth-child(3n+2) {

      }
      &:nth-child(3n+3) {

      }
    }
  }
  .question-index {
    margin-top: 10px;
    font-size: 2rem;
  }
  .question {
    font-size: 24px;
    color: $dark-blue;
    white-space: pre-line;
  }

  @media only screen and (max-width: 767px) {
    .title, .direction, .divider {
      display: none;
    }

    .question-indicator-box {
      .question-indicator.scroll {
        overflow-x: auto;
        align-content: initial;
        padding-left: 10px;
      }
      .question-indicator.non-scroll {
        align-content: center;
      }
    }
    .question {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: $tabletVW) and (max-width: 991px){
    .title, .direction {
      text-align: left;
    }
    .direction {
      width: 90%;
    }
    .question-indicator-box {
      float: right;
    }
    .question-indicator {
      align-content: flex-end;
    }
    .question-index {
      margin-top: 40px;
      font-size: 2.2rem;
    }
    .question {
      width: 60%;
    }
  }
  @media only screen and (min-width: $desktopVW) {
    padding: 2*$padding 7*$padding;

    .content-wrapper {
      width: 90%;
      margin-left: 5%;
    }
    .title, .direction, .question-index, .question {
      text-align: center;
      width: 100%;
    }
    .question-indicator {
      width: 100%;
      align-content: center;
    }
    .question-index {
      font-size: 1.8rem;
    }
  }
}
