@import '../variables.scss';

.assessment-modal {
  padding: $padding;

  .title {
    color: $dark-blue;
    font-size: 2.5rem;
  }
  .direction {
    margin-top: 10px;
    font-size: 1rem;
    color: $dark-blue;
    @include normal-font;
  }
  .divider {
    margin: 15px 0;
  }
  .question-indicator {
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .hexagon-wrapper {
      font-size: 35px;        // important: overwrites .hexagon-label in hexagon.css
      margin-left: -8px;
      margin-bottom: 2px;      // overwrites bootstrap form

      &:nth-child(3n+1) {
        margin-top: 18px;
      }
      &:nth-child(3n+2) {

      }
      &:nth-child(3n+3) {

      }
    }
  }
  .question-index {
    margin-top: 10px;
    font-size: 2rem;
  }
  .question {
    font-size: 24px;
    color: $dark-blue;
    white-space: pre-line;
    margin-bottom: 20px;
  }
  .answer-box {
    .hexagon-wrapper:nth-last-child(2) .line {
      visibility: hidden;
    }
    .leftmost-answer, .rightmost-answer {
      line-height: 40px;        // same as hexagon-wrapper font-size
      vertical-align: top;
      font-size: 16px;
      @include normal-font;
    }
    .leftmost-answer {
      margin-right: 15px;
    }
    .rightmost-answer {
      margin-left: -20px;      // last hexagon answer's line is hidden and takes up space
    }
    .btn-next {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: $mobileEnd) {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title, .direction, .divider {
      display: none;
    }

    .question-indicator-box {
      .question-indicator.scroll {
        overflow-x: auto;
        align-content: initial;
        padding-left: 10px;
      }
      .question-indicator.non-scroll {
        align-content: center;
      }
    }
    .question {
      font-size: 20px;
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;

      .answer-box {
        overflow-y: auto;
        .leftmost-answer, .rightmost-answer {
          display: none;
        }
        .btn-next {
          margin-top: 15px;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  @media only screen and (min-width: $tabletStart) and (max-width: $tabletEnd){
    .title, .direction {
      text-align: left;
    }
    .direction {
      width: 90%;
    }
    .question-indicator-box {
      float: right;
    }
    .question-indicator {
      align-content: flex-end;
    }
    .question-index {
      margin-top: 40px;
      font-size: 2.2rem;
    }
    .question {
      width: 60%;
      margin-top: 10px;
      white-space: normal;
    }
    .answer-box {
      margin-top: 60px;

      .btn-next {
        margin-left: 300px;
      }
    }
  }
  @media only screen and (min-width: $desktopStart) {
    padding: 2*$padding 6*$padding;

    .content-wrapper {
      width: 90%;
      margin-left: 5%;
    }
    .title, .direction, .question-index, .question {
      text-align: center;
      width: 100%;
    }
    .question-indicator {
      width: 100%;
      align-content: center;
    }
    .question-index {
      font-size: 1.8rem;
    }
    .answer-box {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
