@import '../variables.scss';

.activity-tile {
  margin-top: 1.5*$padding;
  margin-left: 1.5*$padding;
  height: 18rem;

  .content-tile {
    width: 100%;
    height: 100%;
    padding: 0.7*$padding;
    background-color: $green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .border-box {
      width: 100%;
      height: 100%;
      position: relative;
      padding: $padding $padding;
      display: flex;
      flex-direction: column;
      border: solid 1px $dark-blue;
    }
  }
  &.step1 {
    .border-box {
      border: none;
    }
  }

  .count-box-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .count-box {
    width: 2.5rem;
    height: 2rem;
    position: relative;
    top: -8px;
    line-height: 2rem;
    border-radius: 3px;
    background-color: $dark-yellow;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: content-box;
  }
  .description-tile {
    font-size: 2.8rem;
    color: white;
    font-weight: 300;
  }
  .button-container {
    flex: 1;
    display: flex;
    align-items: flex-end;

    .button1 {
      margin-right: $padding*0.7;
    }
  }
}

@media only screen and (max-width: $mobileEnd) {
  .activity-tile {
    margin-right: 1.5*$padding;
    .count-box {
      width: 3rem;
      height: 2.5rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    .button-container {
      button {
        height: 37px;
      }
    }
    .description-tile {
      font-size: 3rem;
    }
  }
}
@media only screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
  .activity-tile {
    height: 14rem;
  }
  .description-tile {
    font-size: 38px !important;
  }
}
