@import '../variables.scss';

.activity-indicator {
  background-color: $dark-blue;
  &.step1 {
    background-color: $tile-step1;
  }

  .detail {
    display: none;
  }
  .step-label {
    font-size: 30px;
    font-weight: bold;
    color: $brown;
  }
  .description-label {
    font-size: 50px;
    font-weight: bolder;
    color: white;
  }
}

@media only screen and (max-width: $mobileEnd) {
  .activity-indicator {
    padding: 1.5*$padding;
    .description-label {
      font-size: 40px;
    }
    .button-container {
      display: flex;
      margin-top: 10px;

      .whats-this {
        margin-right: $padding*0.7;
      }
      .whats-this, .begin {
        flex: 1;
      }
    }
    .description-label {
      font-size: 40px;
    }
  }
}
@media only screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
  .activity-indicator {
    padding: 4*$padding 2*$padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .button-container {
      width: 120px;
      .whats-this {
        margin-bottom: 17px;
      }
    }
  }
}

@media only screen and (min-width: $desktopStart) {
  .activity-indicator {
    padding: 2*$padding $padding 1.7*$padding 2*$padding;

    .detail {
      display: block;
      margin: 15px 60px 15px 0;
      font-size: 14px;
      color: white;
      @include normal-font;
    }
    .whats-this {
      display: none;
    }
    .begin {
      width: 190px;
    }
  }
}
