@import '../variables.scss';

.activity-tile {
  margin-top: 1.5*$padding;
  margin-left: 1.5*$padding;
  height: 18rem;
  box-shadow: 2px 2px 1px gray;

  .content-tile {
    width: 100%;
    height: 100%;
    padding: 0.7*$padding;
    background-color: $gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .border-box {
      width: 100%;
      height: 100%;
      position: relative;
      padding: $padding $padding;
      display: flex;
      flex-direction: column;
      border: solid 1px $dark-blue;
    }
  }

  .count-box-wrapper {
    display: flex;
    justify-content: space-between;
    .step-num {
      visibility: hidden;
    }
  }
  .count-box {
    width: 2.5rem;
    height: 2rem;
    position: relative;
    top: -8px;
    line-height: 2rem;
    border-radius: 3px;
    background-color: $dark-yellow;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: content-box;
  }
  .description-tile {
    font-size: 2.8rem;
    font-weight: 300;
  }
  .button-container {
    flex: 1;
    display: flex;
    align-items: flex-end;

    .button1 {
      margin-right: $padding*0.7;
    }
  }
  button {
    border: solid 1px $brown;
    color: $brown;
  }
  button:hover {
    background-color: $dark-blue;
    color: white;
  }

  &.step0 {
    .content-tile {
      background-color: $green;
    }
    .border-box {
      border: none;
    }
    .description-tile {
      color: white;
    }
    button {
      border: solid 1px white;
      color: white;
    }
    button:hover {
      background-color: $dark-blue;
    }
  }
  &.step1 {
    .border-box {
      border-color: $tile-step1;
    }
    .description-tile {
      color: $tile-step1;
    }
  }
  &.step2 {
    .border-box {
      border-color: $tile-step2;
    }
    .description-tile {
      color: $tile-step2;
    }
  }
  &.step3 {
    .border-box {
      border-color: $tile-step3;
    }
    .description-tile {
      color: $tile-step3;
    }
  }
  &.step4 {
    .border-box {
      border-color: $tile-step4;
    }
    .description-tile {
      color: $tile-step4;
    }
  }
  &.step5 {
    .border-box {
      border-color: $tile-step5;
    }
    .description-tile {
      color: $tile-step5;
    }
  }
}

@media only screen and (max-width: $mobileEnd) {
  .activity-tile {
    margin-right: 1.5*$padding;
    .count-box {
      width: 3rem;
      height: 2.5rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    .button-container {
      button {
        height: 37px;
      }
    }
    .description-tile {
      font-size: 3rem;
    }
  }
}
@media only screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
  .activity-tile {
    height: 14rem;
    margin-right: 3px;
    margin-bottom: 3px;

    .border-box {
      padding: 2*$padding $padding !important;
    }
    .description-tile {
      font-size: 36px !important;
    }
    .count-box-wrapper .step-num {
      visibility: visible;
      font-size: 1.5rem;
      color: $brown;
    }
    &.step0 {
      .description-tile {
        margin-top: -40px;
        width: 80%;
        font-size: 38px !important;
      }
      .count-box-wrapper .step-num {
        visibility: hidden;
      }
    }
  }
}

@media only screen and (min-width: $desktopStart) {
  .activity-tile {
    height: 16rem;
    .border-box {
      padding: 2*$padding 2*$padding !important;
    }
    .description-tile {
      height: 7rem;
      display: flex;
      align-items: center;
    }
    &.step0 {
      .description-tile {
        font-size: 2.3rem;
      }
    }
  }
}
