@import '../variables.scss';

.hexagon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 40px;

  .hexagon-description {
    position: absolute;
    display: none;
    left: -120%;
    top: -2em;
    width: 300%;
    color: $dark-blue;
    text-align: center;
    @include normal-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }
  .line {
    background-color: $brown;
    width: 0.8em;
    height: 2px;
  }
  .border-line {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -$padding;
    margin-right: -$padding;
    height: 1px;
    background-color: $dark-blue;
  }
  label {
    margin-bottom: 0;
  }
  input {
    display: none;
  }
  input + .hexagon {
    background-color: white;
    color: $brown;
  }
  input:checked + .hexagon {
    background-color: $brown;
    color: white;
  }
  input:checked ~ .hexagon-description {
    display: block;
  }

  .hexagon {
    position: relative;
    width: 0.577em;
    height: 1em;
    margin: 0 0.2885em;
    border-top: solid 1px $brown;
    border-bottom: solid 1px $brown;
    @include h-align-container;

    .figure {
      z-index: 5;
      font-size: 0.5em;
    }
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 0.7071em;
    height: 0.7071em;
    -webkit-transform: scaleX(0.5774) rotate(-45deg);
    -ms-transform: scaleX(0.5774) rotate(-45deg);
    transform: scaleX(0.5774) rotate(-45deg);
    background-color: inherit;
    top: 0.122em;
  }

  .hexagon:before {
    left: -0.3536em;
    border-top: solid 1px $brown;
    border-left: solid 1px $brown;
  }
  .hexagon:after {
    right: -0.3536em;
    border-bottom: solid 2px $brown;
    border-right: solid 2px $brown;
  }

  @media only screen and (max-width: 767px) {
    display: block;

    .hexagon-label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .line {
      display: none;
    }
    .border-line {
      display: block;
    }
    .hexagon-description {
      display: block;
      position: initial;
      width: initial;
    }
  }
}
