@import '../variables.scss';

.tab-bar {
  width: 100%;
}
.tab {
  width: 100%;
  background-color: transparent;
  color: $brown;
  white-space: nowrap;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #b7b5b2;
  border-right: solid 1px #b7b5b2;
  margin-bottom: 1px;
}
.active-tab .tab {
  background-color: $green;
  color: $dark-blue;
}
.happiness-lab .tab-image {
  background-image: url("../assets/images/Icon_HappinessLab.png");
}
.profile .tab-image {
  background-image: url("../assets/images/Icon_Profile.png");
}
.upgrade .tab-image {
  background-image: url("../assets/images/Icon_Upgrade.png");
}
.contact .tab-image {
  background-image: url("../assets/images/Icon_Help.png");
}
.community .tab-image {
  background-image: url("../assets/images/Icon_Community.png");
}
.active-tab {
  .happiness-lab .tab-image {
    background-image: url("../assets/images/Icon_HappinessLab_Hover.png");
  }
  .profile .tab-image {
    background-image: url("../assets/images/Icon_Profile_Hover.png");
  }
  .upgrade .tab-image {
    background-image: url("../assets/images/Icon_Upgrade_Hover.png");
  }
  .contact .tab-image {
    background-image: url("../assets/images/Icon_Help_Hover.png");
  }
  .community .tab-image {
    background-image: url("../assets/images/Icon_Community_Hover.png");
  }
}
.tab-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: $mobileEnd) {
  .tab-bar {
    display: flex;

    .tab {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem 1.2rem;
      @include h-align-container;
    }
    .tab-image {
      width: 25px;
      height: 25px;
    }
  }
}
@media only screen and (min-width: $tabletStart) {
  .tab {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.2rem 0 1rem;
    @include v-align-container;
  }
  .tab-image {
    width: 6rem;
    height: 6rem;
    margin-bottom: -10px;
  }
}
