@import '../variables.scss';

.tab {
  width: 100%;
  padding: 1rem 0;
  background-color: transparent;
  color: $brown;
}
.active-tab .tab {
  background-color: $green;
  color: $dark-blue;
}
.happiness-lab .tab-image {
  background-image: url("/assets/images/my_happiness_lab.png");
}
.profile .tab-image {
  background-image: url("/assets/images/my_profile.png");
}
.upgrade .tab-image {
  background-image: url("/assets/images/upgrade.png");
}
.active-tab {
  .happiness-lab .tab-image {
    background-image: url("/assets/images/my_happiness_lab_active.png");
  }
  .profile .tab-image {
    background-image: url("/assets/images/my_profile_active.png");
  }
  .upgrade .tab-image {
    background-image: url("/assets/images/upgrade_active.png");
  }
}
.tab-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .tab-bar {
    display: flex;

    a:nth-child(1) {
      flex: 265;
    }
    a:nth-child(2) {
      flex: 180;
    }
    a:nth-child(3) {
      flex: 197;
    }

    .tab {
      font-size: 1.3rem;
      font-weight: 300;
      @include h-align-container;
    }
    .tab-image {
      width: 50px;
      height: 50px;
      margin-right: 0.5rem;
    }
  }
}
@media only screen and (min-width: 768px) {
  .tab {
    font-size: 1.1rem;
    font-weight: 300;
    @include v-align-container;
  }
  .tab-image {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
  }
}
