@import '../variables.scss';

.upgrade-banner {
  padding: 1.5*$padding;

  .upgrade-content {
    padding: 0.7*$padding;
    background-color: $gray;
  }

  .bordered {
    border: 1px solid $blue;
    padding: $padding;
  }
  .first-line {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 5px;
  }
  .second-line {
    font-size: 2.8rem;
    font-weight: 500;
  }
  .button-wrapper {
    display: flex;
    margin-top: 10px;
    button {
      flex: 1;
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (min-width: $tabletStart) {
  .upgrade-banner {
    .bordered {
      padding: 2.5*$padding 0.7*$padding
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      .button-wrapper {
        width: 45%;
      }
    }
  }
}

@media only screen and (min-width: $desktopStart) {
  .upgrade-banner {
    height: 13rem;
    .upgrade-content {
      height: 100%;
    }
    .bordered {
      height: 100%;
      position: relative;
    }
    .wrapper .button-wrapper {
      width: 75%;
      max-width: 1000px;
      position: absolute;
      bottom: 0.7*$padding;
    }
  }
}
