<div class="assessment-modal">
  <div class="close-box">
    <button class="btn btn-close" type="button" ng-click="$ctrl.close()">&times;</button>
  </div>
  <div ng-if="$ctrl.intro" ng-include="'views/partials/intro.html'">
  </div>
  <div ng-if="!$ctrl.intro">
    <div class="title">
      {{$ctrl.title}}
    </div>
    <div class="direction">
      {{$ctrl.direction}}
    </div>

    <div class="question-indicator-box">
      <div class="question-indicator" ng-class="{'scroll': $ctrl.step===1, 'non-scroll': $ctrl.step===2}">
        <hexagon ng-repeat="question in $ctrl.questions track by $index" type="checkbox" filled="$index<=$ctrl.questionIndex" ng-value="$index+1" />
      </div>
    </div>

    <div class="question-index">
      Question {{$ctrl.questionIndex+1}} of {{$ctrl.nQuestions}}
    </div>
    <div class="question">
      {{$ctrl.questions[$ctrl.questionIndex]}}
    </div>
    <hexagon ng-repeat="r in $ctrl.responseSelectors track by $index" type="radio" ng-model="$ctrl.responses[$ctrl.questionIndex]" ng-value="$index+1" />

    <button class="btn btn-next" ng-click="$ctrl.next()">Next</button>
  </div>
</div>
