<div class="activity-indicator">
  <div>
    <div class="step-label">Step 0{{step}} out of 04</div>
    <div class="description-label">{{stepTitle}}</div>
  </div>
  <div class="button-container">
    <button class="whats-this">What's this</button>
    <button class="begin">Begin</button>
  </div>
  <!-- <Modal
    show={this.state.whatsThisModalVisible}
    onHide={()=>this.handleWhatsThisModalVisibility(false)}
    dialogClassName="pattern-background"
  >
    <button onClick={()=>this.handleWhatsThisModalVisibility(false)}>Close</button>
  </Modal> -->
</div>
