<div class="happiness-lab">
  <div class="hidden-xs hidden-sm">
    <div class="top-bar">
      <div class="indicator">
        <activity-indicator />
      </div>
      <div class="mindfulness">
        <activity-tile step="1"/>
      </div>
    </div>
    <table>
      <tr>
        <td><activity-tile step="2" /></td>
        <td><activity-tile step="3" /></td>
      </tr>
      <tr>
        <td><activity-tile step="4" /></td>
        <td><activity-tile step="2" /></td>
      </tr>
      <tr>
        <td><upgrade-banner /></td>
      </tr>
    </table>
  </div>

  <div class="visible-xs-block visible-sm-block">
    <activity-indicator />
    <div class="hidden-xs">
      <slick arrows=false dots=true infinite=false speed=300 slides-to-show=2 slides-to-scroll=1>
        <activity-tile ng-repeat="at in vm.activityTiles" step="at.step" />
      </slick>
    </div>
    <div class="visible-xs-block">
      <activity-tile ng-repeat="at in vm.activityTiles" step="at.step" />
    </div>
    <upgrade-banner />
  </div>

</div>
