<div class="happiness-lab">
  <div class="hidden-xs hidden-sm">
    <div class="top-bar">
      <div class="indicator">
        <activity-indicator todo="dashboard.to_do" completed="dashboard.completed" />
      </div>
      <div class="mindfulness">
        <activity-tile step="0"/>
      </div>
    </div>
    <table>
      <tr>
        <td><activity-tile step="5" /></td>
        <td><activity-tile step="4" /></td>
      </tr>
      <tr>
        <td><activity-tile step="3" /></td>
        <td><activity-tile step="2" /></td>
      </tr>
      <tr>
        <td><activity-tile step="1" /></td>
      </tr>
      <tr>
        <td><upgrade-banner /></td>
      </tr>
    </table>
  </div>

  <div class="visible-xs-block visible-sm-block">
    <activity-indicator  todo="dashboard.to_do" completed="dashboard.completed" />
    <div class="hidden-xs">
      <div class="tile-row">
        <div class="recording-tile">
          <activity-tile step="0" />
        </div>
        <div ng-repeat="at in vm.activityTiles | orderBy:'':true" class="result-tile">
          <activity-tile step="at.step" />
        </div>
      </div>
    </div>
    <div class="visible-xs-block">
      <activity-tile step="0" />
      <activity-tile ng-repeat="at in vm.activityTiles | orderBy:'':true" step="at.step" />
    </div>
    <upgrade-banner />
  </div>

</div>
