<div class="upgrade">
  <div class="hidden-xs">
    <div class="tablet-box">
      <table>
        <thead>
          <tr>
            <th>Features</th>
            <th ng-repeat="package in vm.packages">
              <div>{{package.name}}</div>
              <div class="bottom-line">{{package.pricing=='0'?'FREE':'$'+package.pricing+' per month'}}</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="feature in vm.features track by $index">
            <td>
              <div class="top-line">{{feature.name}}</div>
              <div class="bottom-line">{{feature.description}}</div>
            </td>
            <td ng-repeat="package in vm.packages">
              <div ng-class="{tick:package.features.indexOf(feature.id)>=0, dash:package.features.indexOf(feature.id)<0}"/>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td ng-repeat="package in vm.packages">
              <button class="btn-brown highlight-green">Register Me</button>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="footer">
        Prices include GST, 5% discount for annual payment, 10% discount on annual renewal.
      </div>
    </div>
  </div>
  <div class="visible-xs">
    <div class="mobile-box">
      <upgrade-card ng-repeat="package in vm.packages" package="package" />      
    </div>
  </div>
</div>
